.maincard {
  background-color: #f7f7f765;
  margin: auto;
  margin-bottom: 50px;
  width: 65%;
  border-radius: 10px;
  padding: 30px;
  -webkit-box-shadow: 3px 6px 18px -9px rgba(59, 59, 59, 0.4);
  -moz-box-shadow: 3px 6px 18px -9px rgba(59, 59, 59, 0.4);
  box-shadow: 3px 6px 18px -9px rgba(59, 59, 59, 0.4);
}

.name {
  border: 0px;
  border-radius: 4px;
  margin-right: 20px;
  margin-left: 5px;
}

.value {
  border: 0px;
  border-radius: 4px;
  margin-right: 20px;
  margin-left: 5px;
}

.add-user-button {
  color: white;
  background-color: rgb(64, 162, 81);
  border: 0px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.add-user-button:hover {
  cursor: pointer;
  background-color: rgb(64, 162, 81, 0.5);
}

.remove-user-button {
  color: white;
  margin-left: 5px;
  background-color: rgb(193, 57, 43);
  border-radius: 4px;
  border: 0px;
}

.remove-user-button:hover {
  cursor: pointer;
  background-color: rgb(193, 57, 43, 0.8);
}

.submit-button {
  margin-top: 15px;
  background-color: transparent;
  border: 2px solid #302f32;
  border-radius: 10px;
}

.submit-button:hover {
  background-color: #302f32;
  color: white;
  cursor: pointer;
}

.result-display {
  background-color: #f7f7f765;
  margin: auto;
  width: 65%;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
}
